@media screen and (min-width: 768px) {
   .container {
      max-width: 768px;
   }
   .header {
      padding: 24px 0 5px;
   }

   .nav-list {
      display: flex;
      gap: 40px;
   }
   
   .header-burger {
      display: none;
   }

   .header-address-list {
      display: flex;
      flex-wrap: wrap;
      width: 120px;
   }

   .header-address-item {
      line-height: 1.33;
   }

   .header-address-link {
      font-size: 12px;
      line-height: 1.33;
      letter-spacing: 0.02em;
      color: var(--text-color);
      transition: color var(--transit);
   }

   .header-address-item:not(:last-child) {
      margin-right: 0;
   }

   .hero {
      background-image: var(--bg-gradient), url("../images/office-bg-tab-x1.jpg");
   }

   @media (min-device-pixel-ratio: 2),
   (min-resolution: 192dpi),
   (min-resolution: 2dppx) {
      .hero {
         background-image: var(--bg-gradient), url("../images/office-bg-tab-x2.jpg");
      }
   }

   .main-title {
      font-size: 56px;
      margin: 0 auto 40px;
      max-width: 500px;
   }

   .qwalities-title {
      text-align: left;
   }

   .qwalities-item {
      max-width: 356px;
   }

   .team > .container {
      max-width: 582px;
   }

   .team-list {
      flex-wrap: wrap;
      gap: 24px;
      row-gap: 64px;
      justify-content: center;
      flex-direction: row;
   }

   .customers > .container {
      max-width: 582px;
   }

   .customers-list {
      column-gap: 24px;
   }

   .customers-item {
      width: calc((100% - 48px) / 3);
   }

   .footer {
      text-align: left;
   }

   .footer > .container {
      max-width: 582px;
   }

   .footer-inner {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
   }

   .footer-wrapper {
      margin-right: 24px;
      text-align: left;
   }

   .footer-media {
      text-align: left;
   }

   .footer-subscribe {
      display: flex;
      align-items: flex-end;
   }

   .footer-input-wrapper {
      margin-right: 24px;
      width: 264px;
   }

   .footer-input {
      margin-bottom: 0;
   }

   .modal {
      padding: 72px 24px 24px;
   }
}